* {
	/*background-color: rgba(0, 0, 0, 0.1);*/;
	color:navy;
}

html{
	height: 100%;
	background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, aquamarine , azure); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, aquamarine , azure); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, aquamarine , azure); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, aquamarine , azure); /* Standard syntax */
}

body{
	height: 100%;
}

h1 {
	font-size: 3.25em;
	font-family: 'Paytone One', sans-serif;
}

p {
	padding: 0;
	margin: 0;
}

div{
	text-align: center;
	width: 100%;
}

.head {
	margin-bottom: 20px;
}

.center {
	margin: 0 auto;
	height: 400px;
	width: 100%;
}

.guessBox {
	display: inline-block;
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.4);
}

#guessWord {
	padding-top: 40px;
	font-size: 40px;
	height: 20%;
}

#category {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 20%;
	font-size: 24px;
}

#triesLeft {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 10px;
	margin-bottom:10px;
	padding-bottom: 40px;
	font-size: 24px;
	height: 10%;
}

#winLose{
	margin-top: 10px;
	height: 20%;
	font-size: 40px;
	font-weight: bold;
}

#letters {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	height: 200px;
	width: 100%;
	padding-top: 30px;
	margin: 5px 0 auto;
	clear: left;
}

button {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: navy;
	color: white;
	padding: 0;
	transition: all 0.5s ease
}

button:hover{
	background-color: rgba(255, 215, 233, 0.3);
	border: 1px solid navy;
	cursor: pointer;
}

button:disabled{
	background-color: rgba(255, 215, 233, 0.3);
	border: 1px solid navy;
}
