* {
	font-family: sans-serif;
/*	border: 1px dashed black;*/
/*	background-color: rgba(0, 0, 0, 0.1);*/
}

html{
	height: 100%;
}

body{
	height: 100%;
}

div{
	text-align: center;
	width: 100%;
}

.head {
	margin-bottom: 20px;
}

.center {
	margin: 0 auto;
	height: 400px;
	width: 1000px;
}

#hangman {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	width:40%;
	height: 400px;
	border: 1px solid black;
}

.guess {
	display: inline-block;
	float: left;
	margin: 0 auto;
	width: 60%;
	height: 400px;
}

#phrase {
	font-size: 28px;
	height: 80%;
}

#start {
	font-size: 20px;
	width: 200px;
	height: 100px;
	margin-top: 40px;
}

#category {
	height: 20%;
}

#letters {
	height: 150px;
	width: 100%;
	margin: 0 auto;
	clear: left;
}

button {
	font-size: 16px;
	margin-top: 20px;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 1px dashed black;
	background-color: white;
	padding: 0;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.hidden {
	display: none;
}
